html, body {
    height: 100%;
    margin: 0;
    position: relative;
}


#myText {
    font-size: 75px;
    position: absolute;
    top: 24%; 
    left: 50%;
    transform: translateX(-50%);
}


#smallText {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
}


#codeInput {
    position: absolute;
    font-size: 13px;
    padding: 5px;
    width: 150px;
    top: 44%; 
    left: 50%;
    transform: translateX(-50%);
}

#submitButton {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
}