html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

img {
    position: absolute;
    top: 30%; 
    left: 28%;
}

#myText {
    font-size: 30px;
    position: absolute;
    top: 18%; 
    left: 48%;
    transform: translateX(-50%);
}