html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    max-width: 260px;
    position: absolute;
    top: 36%; 
    left: 20%;
}

#myText {
    font-size: 30px;
    position: absolute;
    top: 18%; 
    left: 48%;
    transform: translateX(-50%);
}