html, body {
    height: 100%;
    margin: 0;
    position: relative;
}


#myText {
    font-size: 75px;
    position: absolute;
    top: 24%; 
    left: 50%;
    transform: translateX(-50%);
}


#codeInput {
    position: absolute;
    font-size: 18px;
    padding: 5px;
    width: 80px;
    top: 53%; 
    left: 50%;
    transform: translateX(-50%);
}

#submitButton {
    position: absolute;
    top: 57%; 
    left: 50%;
    transform: translateX(-50%);
}